version: '3'

services:
  server:
    build:
      context: ./studio-server
      dockerfile: dockerfile
    command: npm run start:prod
    ports:
      - "3000:3000"
    depends_on:
      - postgres
  postgres:
    hostname: database
    image: postgres
    ports:
      - 5432:5432
    volumes:
      - ./server-db/.database/postgres/data:/var/lib/postgresql/data
      - ./server-db/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: studio2021
      POSTGRES_DB: studio
    restart: unless-stopped
    depends_on:
      - minio1
      - minio2
      - minio3
      - minio4
  minio1:
    image: minio/minio:RELEASE.2019-08-01T22-18-54Z
    volumes:
      - .s3/data1-1:/data1
      - .s3/data1-2:/data2
    ports:
      - "9001:9000"
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    command: server http://minio{1...4}/data{1...2}
  minio2:
    image: minio/minio:RELEASE.2019-08-01T22-18-54Z
    volumes:
      - .s3/data2-1:/data1
      - .s3/data2-2:/data2
    ports:
      - "9002:9000"
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    command: server http://minio{1...4}/data{1...2}
  minio3:
    image: minio/minio:RELEASE.2019-08-01T22-18-54Z
    volumes:
      - .s3/data3-1:/data1
      - .s3/data3-2:/data2
    ports:
      - "9003:9000"
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    command: server http://minio{1...4}/data{1...2}
  minio4:
    image: minio/minio:RELEASE.2019-08-01T22-18-54Z
    volumes:
      - .s3/data4-1:/data1
      - .s3/data4-2:/data2
    ports:
      - "9004:9000"
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    command: server http://minio{1...4}/data{1...2}
