version: '3'

services:
  server:
    build:
      context: ./studio-server
      dockerfile: dockerfile
    command: npm run start:prod
    ports:
      - "3000:3000"
    depends_on:
      - postgres
  postgres:
    hostname: database
    image: postgres
    ports:
      - 5432:5432
    volumes:
      - ./server-db/.database/postgres/data:/var/lib/postgresql/data
      - ./server-db/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: studio2021
      POSTGRES_DB: studio
    restart: unless-stopped
